/*COLOR SCHEME*/
$colorWhite: #FFFFFF;
$colorWhiteOff: #FEFEFE;
$colorWhiteFaded: rgba(254,254,254,0.85);;
$colorBackgroundOffWhite: #F6F6F6;
$colorGreen: #37B048;
$colorGreenFaded: rgba(55,176,72,0.8);
$colorGreenFront: #37B04880;
$colorFaded: #8D9AA8;
$colorDarkGray: #37393C;
$colorError: #b03737;
$colorBlack: #000000;


$blackFilter: rgba(55,57,60,0.50);
$borderRadiusBtn: 18px;
$borderRadiusBox: 4px;
$borderSettings: 1px solid #E6E6E6;
$shadowSettings:  0px 0px 16px #00000029;
